/*These are the basic styles for the page -- we'll add the Grid stuff to them*/
#container {
    width: 50%;
    margin: 0 auto;
  }

h1 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

h2 {
    font-family: Georgia;
    font-weight: normal;
    font-size: 26px;
    text-align: center;

  }

#byline {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  }

#subhead {
    font-weight: bold;
    font-family: "Georgia";
    font-size: 22px;
}

p {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

#cover  {
    width: 100%;
  }

#weird {
      width: 50%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "a f"
          "b g"
          "c h"
          "d i"
          "e j";
    }

.weirdmascot {
  width: 40%;
}

#slug {
  grid-area: a;
  width: 90%;
}

#sluginfo {
  grid-area: f;
}

#koala {
  grid-area: b;
  width: 90%;
}

#koalainfo {
  grid-area: g;
}

#biscuit {
  grid-area: c;
  width: 90%;
}

#biscuitinfo {
  grid-area: h;
}

#soul {
  grid-area: d;
  width: 90%;
}

#soulinfo {
  grid-area: i;
}

#geoduck {
  grid-area: e;
  width: 90%;
}

#geoduckinfo {
  grid-area: j;
}


@media screen and (max-width: 800px) {

    #container {
        width: 90%;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
    }

    #byline {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }

    #weird {
      width: 90%;
      grid-template-columns: 1fr;
      grid-template-areas:
          "a"
          "f"
          "b"
          "g"
          "c"
          "h"
          "d"
          "i"
          "e"
          "j";
    }
}
